<body>
    <div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f6dd53;">
        <div class="container-fluid">
            <img style="height: 30px; width: auto;" src="https://cdn-icons-png.flaticon.com/512/1518/1518840.png" alt="">
            &nbsp;
            &nbsp;
            <a style="font-size: 30px;" class="navbar-brand" routerLink="/">MNSS Insurance</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="/healthpoliciy">Health Policies</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" routerLink="/homepoliciy">Home Policies</a></li>
                </ul>
              </li>

              



         
              
              
            </ul>

            
      
          </div>
        </div>
      </nav>
    </div>

    <div>

        <img style="width: 1200px;" src="https://scontent.fpnq7-4.fna.fbcdn.net/v/t39.30808-6/296484094_5980735912025389_7863171863904896110_n.jpg?stp=dst-jpg_p960x960&_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=JfzYzs2L8X0AX8jYhvh&_nc_ht=scontent.fpnq7-4.fna&oh=00_AT9O6rRAj9GZF5wq667TwUTHY8WXPcebaXoKn6rcjFSHog&oe=62F659CD" alt="">
     </div>

<body>
